.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
    color: #c7c7c7
}

  .search input {
    padding: 0.5em;
    border: none;
    line-height: 1.1em;
    font-size: 1.1em;
  }

  .search i {
    font-size: 1.1em;
    padding-left: 0.2em;
    color: #c7c7c7
  }
