<div class="icons">
    <i class="fa fa-bars"></i>
    <i class="fa fa-folder-o" @onclick="FolderEventCallback"></i>
    <i class="fa fa-cogs"></i>
    <i class="fa fa-bell-o"></i>
    <i class="fa fa-language"></i>
    <i class="fa fa-sign-out"></i>
</div>