@using ReadItLater.Web.Client.Shared

@if (refs != null)
{
    <div class="content">
        <div class="manage-panel">
            <div class="tools">
                <div class="ordering">
                    <i class="fa fa-sort-amount-asc"></i>
                    @*<i class="fa fa-sort-amount-desc"></i>*@
                </div>
                <div class="badges">
                    @*SortingBadge*@
                    <div class="badge">
                        <p class="title">Date:</p>
                        <p>
                            Ascending
                            <i class="fa fa-close"></i>
                        </p>
                    </div>
                    <div class="badge">
                        <p class="title">priority:</p>
                        <p>
                            descending
                            <i class="fa fa-close"></i>
                        </p>
                    </div>
                </div>
            </div>
            <Search />
        </div>
        <div class="rows">
            @for (int j = 0; j < 3; j++)
            {
                <div class="column">
                    @for (int i = j; i < refs.Length; i += 3)
                    {
                        <RefItem Item="refs[i]"></RefItem>
                    }
                </div>
            }
        </div>
    </div>
}