.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 56%;
}

.manage-panel {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #E4E4E4;
}

  .manage-panel .search {
    width: calc(100% / 3);
    margin-right: 2em;
  }

    .manage-panel .search input {
      width: 100%;
    }

  .manage-panel .tools {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

    .manage-panel .tools .ordering {
      margin: 0 1em;
    }

.badges {
  display: flex;
}

.badge {
  display: flex;
  flex-direction: row;
  margin-left: 0.2em;
  text-transform: lowercase;
}

  .badge p {
    margin: 0;
    border: 1px solid #737373;
    padding: 0.2em 0.5em;
    font-size: 0.9em;
  }

    .badge p.title {
      background-color: #c7c7c7;
      border-right: none;
    }

    .badge p i {
      color: #737373;
    }

.rows {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.column {
  display: flex;
  flex-direction: column;
  height: 820px;
  width: calc(100%/3);
  border-right: 2px solid #E4E4E4;
}

  .column:last-child {
    border-right: none;
  }
