.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 56%;
}

.manage-panel {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #E4E4E4;
}

  .manage-panel .search-section {
    width: calc(100% / 3);
    margin: 0 1em;
  }

  .manage-panel .tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 1em;
  }

    .manage-panel .tools .ordering {
      margin-right: 1em;
      cursor: pointer;
    }

.badges {
  display: flex;
}

.rows {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.column {
  display: flex;
  flex-direction: column;
  height: 820px;
  width: calc(100%/3);
  border-right: 2px solid #E4E4E4;
}

  .column:last-child {
    border-right: none;
  }
