@using ReadItLater.Web.Client.Shared

@if (refs != null)
{
    <div class="content">
        <div class="manage-panel">
            <div class="tools">
                <div class="ordering" @onclick="ChooseSorting">
                    <i class="fa fa-sort-amount-asc"></i>
                    @*<i class="fa fa-sort-amount-desc"></i>*@
                </div>
                <div class="badges">
                    @if (badges?.Any() ?? false)
                    {
                        foreach (var item in badges)
                        {
                            <SortingBadge Key="@item.Key" Value="@item.Value" DeleteBadgeCallback="DeleteBadgeCallbackHandler" />
                        }
                    }
                </div>
            </div>
            <div class="search-section">
                <Search SearchCallback="Seach" />
            </div>
        </div>
        <div class="rows">
            @for (int j = 0; j < 3; j++)
            {
                <div class="column">
                    @for (int i = j; i < refs.Length; i += 3)
                    {
                        <RefItem Item="refs[i]"></RefItem>
                    }
                </div>
            }
        </div>
    </div>
}