@page "/fetchdata"
@using ReadItLater.Data
@inject HttpClient Http


@if (refs != null)
{
    <div class="content">
        @for (int j = 0; j < 3; j++)
        {
            <div class="column">
                @for (int i = j; i < refs.Length; i += 3)
                {
                    <SurveyPrompt Item="refs[i]"></SurveyPrompt>
                }
            </div>
        }
    </div>
}

@code {
    //private Folder[] folders;
    private Ref[] refs;

    protected override async Task OnInitializedAsync()
    {
        refs = await Http.GetFromJsonAsync<Ref[]>("Refs");
        //folders = await Http.GetFromJsonAsync<Folder[]>("Folders");
        //refs = folders.SelectMany(f => f.Refs ?? new List<Ref>()).ToArray();
    }

}
