
<div class="menu">
    <div class="top">
        <div class="logo">
            <p>Ril</p>
        </div>
        <div class="add-new" @onclick="AddNew">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </div>
    </div>
    <Folders IsFolderEditing="isFolderEditing" />
    <div>
        <Community />
        <Settings FolderEventCallback="FolderEditingCallbackHandler" />
    </div>
</div>

<SubMenu refsAllCount="refsAllCount" />
